@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  overflow-x: hidden; /* Prevents side-scrolling */
  -webkit-font-smoothing: antialiased; /* Smoother fonts */
}

/* --- ADD THIS NEW CLASS --- */
.gpu {
  transform: translateZ(0); /* Forces GPU rendering */
  will-change: transform, opacity;
  backface-visibility: hidden;
}

html {
  scroll-behavior: smooth;
}